<h1>All stories</h1>
 <%= link_to 'new story', new_story_path %>
<table>
  <tr>
    <th></th>
  </tr>
 
  <% @stories.each do |story| %>
    <tr>
      
      <td><%= story.text %></td>
      <td><%= link_to 'Show', story_path(story) %></td>
      <td><%= link_to 'Edit', edit_story_path(story) %></td>
      <td><%= link_to 'Destroy', story_path(story),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>